
body {
    background-color: #212529 ;


}

#header {
    background-color: rgb(255, 212, 70);
}
.h1-header {
    font-size: 30px;
    color: #212529 ;
}

.section-profile {
    margin-top: 30px;
    height: 600px;
    background-color:#212529;
}
h1.name{
    margin-top: 100px;
    color: rgb(255, 212, 70) ;
}

#btn-profile {
    background-color: rgb(255, 212, 70) ;
    border-radius: 20px;
}

#btn-profile:hover {
    background-color: rgba(75, 75, 75, 0) ;
    border-color: white;
    color: white;
}

#btn-profile2 {
    background-color: rgba(75, 75, 75, 0) ;
    border: solid white 1px;
    border-radius: 20px;
    color: white;
}

#btn-profile2:hover {
    background-color: rgb(255, 212, 70) ;
}

.img-profile {
    width: 50%;
    margin-top: 30px;
    border-radius: 30px;
}

.img-profile2 {
    width: 75%;
    margin-top: 30px;
    border-radius: 30px;
}

.aboutme {
    margin-top: 200px;
}

.h1-aboutme {
    
    color:  rgb(255, 212, 70) ;
    margin-bottom: 65px;
}

.td1 {
    
    color:  rgb(255, 212, 70);
}

.td2 {
    
    color: white;
}

#btn-aboutme {
    background-color: rgb(255, 212, 70) ;
    margin-top: 50px;
    color: white;
    border-radius: 20px;
}

#btn-aboutme:hover {
    background-color: rgba(75, 75, 75, 0) ;
    border-color: white;
}

.porto-1 {
    margin-top: 250px;
}
#card-porto1 {
    height: 550px;
    background-color: #3f3f3f;
}

h2.porto1 {
    color: rgb(255, 212, 70);
}


.h1-porto2 {
    color: rgb(255, 212, 70);
    margin-top: 200px;
}

#cont-porto2 {
    margin-top: 100px;
}

.img-porto2 {
    width: 75%;
    position: relative;
    overflow-x: hidden;
}

footer {
    margin-top: 200px;
    background-color: rgb(255, 212, 70) ;
}


@media screen and (max-width: 660px) {
    .img-profile {
        display: none;
    }
    .img-porto2 {
        width: 75%;
    
    }
    #card-porto1 {
        width: 75%;
    }
    


  }